<div id="login-container">
<div id="imgblock">
<img id="bbb-logo" alt="" src="images/bbb_logo.png">
  <span class="help-block">
    Please type a username and meeting ID below and click Sign in to start your session.
  </span>
</div>
  <form id="login-form" class="form-horizontal" role="form">
	<div class="form-group">
		<label  class="col-sm-1 col-sm-offset-4 control-label">UserName</label>
		<div class="col-sm-3">
			<input id="user-name" type="text" maxlength="30" name="user[name]" placeholder="Enter a username" class="form-control" autofocus="autofocus"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 col-sm-offset-4 control-label">Room</label>
		<div class="col-sm-3">
			<select id="meeting-id" name="meeting[id]" class="form-control">
			  <option value='22222efefefjijijijijij3445454-0000000000'>
				  yangDemo
			  </option>
					<% _.each(meetings, function(meeting) { %>
				<option value='<%= meeting.get("meetingID") %>'>
				  <%= meeting.get("meetingName") %>
				</option>
			  <% }); %>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-3">
		  <button type="submit" class="btn btn-default" id="login-button">Join</button>
		</div>
	</div>
  </form>

</div>
